<style type="text/css">
 table, td, th {
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    width: 500px;
    text-align: center;
    font-size: 20px;
}
th {
  width: 300px;

}
table {
  width: 100%;
  border-collapse: collapse;
}
</style>
<div>
 <h1>
  Security group:default1 (create)
 </h1>
 <table>
  <tr>
   <th>
    <font size="5">
     Regola
    </font>
   </th>
   <th>
    <font size="5">
     Direction
    </font>
   </th>
   <th>
    <font size="5">
     Source Cidrs
    </font>
   </th>
   <th>
    <font size="5">
     From Port
    </font>
   </th>
   <th>
    <font size="5">
     To Port
    </font>
   </th>
   <th>
    <font size="5">
     Protocol
    </font>
   </th>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
    <ul>
    </ul>
   </td>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    default1_egress_1
   </td>
   <td>
    egress
   </td>
   <td>
    <ul>
     <li>
      10.0.0.0/8
     </li>
    </ul>
   </td>
   <td>
    0
   </td>
   <td>
    0
   </td>
   <td>
    ALL
   </td>
  </tr>
  <tr>
   <td>
    default1_ingress_1
   </td>
   <td>
    ingress
   </td>
   <td>
    <ul>
     <li>
      10.0.0.0/8
     </li>
    </ul>
   </td>
   <td>
    443
   </td>
   <td>
    443
   </td>
   <td>
    tcp
   </td>
  </tr>
  <tr>
   <td>
    default1_ingress_2
   </td>
   <td>
    ingress
   </td>
   <td>
    <ul>
     <li>
      10.0.0.0/8
     </li>
    </ul>
   </td>
   <td>
    8080
   </td>
   <td>
    8080
   </td>
   <td>
    tcp
   </td>
  </tr>
 </table>
</div>